*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-image: url("images/netflix-bg.jpeg");
}

.logo{
    width: 12.5%;
    height: 12.5%;
}

.container{
    height: 100vh;
    background-color:rgba(0,0,0,0.5); 
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 10em;
}

.nav-sign-in{
    height: 2em;
    width: 5em;
    color: white;
    font-weight: bold;
    background-color: red;
    border: none;
    cursor: pointer;
}

.nav-sign-in:hover{
    background-color: rgb(198, 7, 7);
    transition: 0.1s ease-in-out;
}

.hero{
    color: white;
    
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 3rem;
    margin-bottom: 0.375em;
}
.subtext{
    font-size: 1.75rem;
    margin-bottom: 0.375em;
}
.subtext-2 {
    font-size: 1rem;
    margin-bottom: 0.375em;
}

.get-started{
    height: 2.25em;
    width: 7em;
    font-size: 1.25rem;
    background-color: rgb(199, 0, 0);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.get-started:hover{
    background-color: rgb(133, 8, 8);
    transition: 0.1s ease-in-out;
}

.input-fields input{
    width: 275px;
    padding: 0.875em 1em;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid gray;
    color: white;
}
section{
    background-color: black;
    color: white;
}

.first-sec{
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    gap: 2em;
    margin-top: 0.5em;
}

.first-sec-text{
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    justify-content: center;
}
.first-sec-text h1{
    font-size: 3rem;
}

.first-sec-text p{
    font-size: 1.5rem;
}

.section-container{
    background-color: gray;
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 0.5em;
}

.faq{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    
}

.faq h1{
    font-size: 3rem;
    margin-bottom: 0.375em;
}

.plus{
    font-size: 3rem;
    display: flex;
    align-items: center;
    padding-right: 0.4em;
}

.faq-box{
    cursor: pointer;
    text-align: left;
    height: 5em;
    width: 75%;
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: space-between;
}

.faq-box:hover{
    background-color: rgb(71, 70, 70);
    transition: 0.15s ease-in-out;
}

.faq-box h3{
    display: flex;
    align-items: center;
    padding: 0 0.875em;
}

.user-input-fields{
    margin-top: 3em;
    padding-bottom: 3em;
}

.footer-col-1,.footer-col-2,.footer-col-3{
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    color: rgb(199, 197, 197);
}

.footer-col-1 p,.footer-col-2 p,.footer-col-3 p{
    cursor: pointer;
}
u {
    cursor: pointer;
}

.phno{
    color: rgb(199, 197, 197);
    padding-left: 5em;
    padding-top: 3em;
}

.footer-col{
    display: flex;
    gap: 20em;
    padding-left: 5em;
    margin-top: 2em;
    text-decoration: underline;
}

.netflix-in{
    color: rgb(199, 197, 197);
    padding-left: 5em;
    padding-top: 3em;
    padding-bottom: 4em;
}